body{
    background: #6b33ab;
    display: flex;
    justify-content: center;
    height: 100vh;
    font-family: arial, Sans-Serif;
}    
button{
    background: #8d7e9e;
    color:  #280254;
    height: 60px;
    font-size: 1.2rem;
    border-color: snow;
    border-radius: 8px;
    cursor: pointer;
    transition:background 0.2s;
}


button:hover{
    background: #6b33ab;
}

.calculator{
    background: #ab6df2;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4,70px);
    grid-gap: 10px;
}
.zero{
    grid-column: span 2;
    
}
#display{
    width: 93%;
    height: 50px;
    font-size: 1.5rem;
    text-align: right;
    margin-bottom: 10px;
    padding: 10px;
    background: #8d7e9e;
    color: black;
    border-radius: 8px;
    border-color: white;
}